html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 15px;
    background: #EEE4B9;
}

img {
    border: none;
}

a {
    color: #8D0D19;
}

a:hover {
    color: #1A446C;
}

header {
    height: 70px;
    margin: 0;
    padding: 0;
    text-align: left;
    background: #1A446C;
    color: #D4E6F4;
}

header h1 {
    padding: 1em;
    margin: 0;
}

main {
    height: 600px;
    width: 100%;
    background: #EEE4B9;
}

footer {
    clear: both;
    height: 2em;
    padding: 1em;
    text-align: center;
    background: #1A446C;
    color: #D4E6F4;
}

nav {
    float: left;
    width: 150px;
    height: 100%;
    margin: 0;
    padding: 0 2em;
    color: #D4E6F4;
    background: #8D0D19;
}

nav a {
    color: #D4E6F4;
    text-decoration: none;
}

nav a:hover {
    color: #FFF;

}

.subjects {
    list-style: none;
    padding-top: 10px;
    font-weight: normal;
}

.pages {
    padding-left: 2em;
    list-style: square;
    font-weight: normal;
}

.selected {
    font-weight: bold;
}

#page {
    float: left;
    height: 100%;
    padding-left: 2em;
    vertical-align: top;
    background: #EEE4B9;
}

#page h2 {
    color: #8D0D19;
    margin-top: 1em;
}

#page h3 {
    color: #8D0D19;
}

div.message {
    border: 2px solid #8D0D19;
    color: #8D0D19;
    margin: 1em 0;
    padding: 1em;

}
